@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

.sidenav {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 40%;
  align-items: center;
  justify-content: center;
  background-color: #fbfbfb;
  border-radius: 0 20px 20px 0;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Adiciona uma leve sombra */

  .sidenav-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;

    .history{
      width: 100%;
      height: 90%;
      text-align: center;
      overflow: auto;
    }

    .balanceSum{
      height: 10%;
      width: 100%;
      text-align: center;
      border-top: solid 3px #c6c6c6;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3vh;
      color: #495057;
    }
  }

  .day {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    line-height: 2.5;

    .balance {
      width: 20%;
      display: flex;
      height: 3vh;
      border-radius: 5px;
      align-items: center;
      justify-content: center;
      padding: 1%;

      .icon{
        scale: 0.7;
        width: 40%;
      }
    }

    .zeroBalance{
      background: #c6c6c6;
      color: #737373;
    }

    .positiveBalance{
      background: #5c9d6a;
      color: #ffffff;

      p {
        width: 50%;
        text-align: center;
      }
    }

    .negativeBalance{
      background: #9d5c5c;
      color: #ffffff;

      p {
        width: 50%;
      }
    }
  }

  .day:hover{
    background-color: #e8e8e8;
    cursor: pointer;
  }

  .cinza {
    background-color: #f3f3f3; /* Cor cinza */
  }

  .branco {
    background-color: #ffffff; /* Cor branca */
  }
}

.viewport {
  width: 100%;
  height: 100%;
  padding: 5%;
}

.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.title-box {
  width: 80%;
  background: #e9ecef;
  border-radius: 10px;
  text-align: center;
  padding: 3%;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    font-weight: bold;

    mat-icon {
      font-size: 3.5vw;
    }

    p {
      font-size: 3vw;
    }
  }

  p {
    margin: 0;
    font-size: 1.5vw;
  }

  hr {
    height: 1px;
    width: 80%;
    background-color: black;
  }
}

.clock {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.comment-box {
  width: 80%;

  p {
    font-size: 1.5vw;
    color: rgb(104, 104, 104);
  }
}

.comment {
  resize: none;
  width: 100%;
  padding: 1%;
  height: 6vw;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border-radius: 5px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.comment:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.clock-timers {
  margin-top: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5%;
  width: 80%;

  .clock-label {
    display: flex;
    align-items: center;
    justify-content: center;
    text-wrap: nowrap;
    font-size: 1.5vw;

    p {
      color: rgb(104, 104, 104);
    }
  }
}

.time-sum {
  width: 80%;

  .time-sum-input {
    width: 100%;
    background-color: #e9ecef;
  }
}

.buttons {
  display: flex;
  width: 80%;
  gap: 5%;
  justify-content: center;

  button {
    border-radius: 8px;
    color: #007bff;
    border: 1px solid #007bff;
    outline: none;
    height: 5vw;
    background: white;
    font-size: 2vw;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 5%;
    width: 15vw;
    justify-content: center;
  }
  button:hover {
    cursor: pointer;
    color: white;
    background-color: #007bff;
  }

  button:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
}

.drawer-button {
  background: #e9ecef;
  position: fixed;
  top: 16px;
  left: 16px;
  z-index: 1000;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Adiciona uma leve sombra */
  transition: opacity 0.3s ease; /* Adiciona uma transição suave para a opacidade */
}

.drawer-button.opaque {
  opacity: 0.7; /* Defina a opacidade desejada quando o sidenav está aberto */
}

/* Para navegadores baseados em WebKit (Chrome, Safari, etc.) */
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

input {
  width: 100%;
  height: 5.5vw;
  font-size: 2.5vw;
  text-align: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border-radius: 5px;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}


